[submodule "wiki"]
	path = wiki
	url = https://github.com/yusing/godoxy-wiki
[submodule "juststore-shadcn"]
	path = juststore-shadcn
	url = https://github.com/yusing/juststore-shadcn
[submodule "juststore"]
	path = juststore
	url = https://github.com/yusing/juststore
