node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
tsconfig.tsbuildinfo

# schema
src/types/godoxy/*.deref.json

# AI
CLAUDE.md
.kilocode/
.claude/
.cursor/

# wiki
.source/
