# this docker compose file is for development only
services:
  frontend:
    container_name: godoxy-frontend-next-dev
    restart: no
    image: oven/bun:1.3.9-alpine
    env_file: .env
    user: 1000:1000
    working_dir: ${PWD:?PWD is not set, please run from make dev}
    command: bun --bun vite dev --host 0.0.0.0 --port 3000
    expose:
      - 3000
    environment:
      - NODE_ENV=development
    volumes:
      - ./node_modules:${PWD}/node_modules:rw
      - ./package.json:${PWD}/package.json:rw
      - ./bun.lock:${PWD}/bun.lock:rw
      - ./src:${PWD}/src:rw
      - ./public:${PWD}/public:rw
      - ./vite.config.ts:${PWD}/vite.config.ts:rw
      - ./tsconfig.json:${PWD}/tsconfig.json:rw
      - ./juststore:${PWD}/juststore:rw
      - ./juststore-shadcn:${PWD}/juststore-shadcn:rw
      - ./wiki:${PWD}/wiki:rw
    tmpfs:
      - /var/cache/nginx:uid=1000,gid=1000
      - ${PWD}/dist:rw,uid=1000,gid=1000
      - ${PWD}/.tanstack:rw,uid=1000,gid=1000
    labels:
      proxy.aliases: godoxy-dev
      proxy.#1.rule_file: embed://webui_dev.yml
      proxy.#1.healthcheck.disable: true
