:root {
  --color-blue-spruce-50: oklch(97.43% 0.019 188.84);
  --color-blue-spruce-100: oklch(95.15% 0.039 186.59);
  --color-blue-spruce-200: oklch(90.55% 0.072 187.3);
  --color-blue-spruce-300: oklch(86.54% 0.103 185.42);
  --color-blue-spruce-400: oklch(82.9% 0.124 184.7);
  --color-blue-spruce-500: oklch(80% 0.137 182.4);
  --color-blue-spruce-600: oklch(67.68% 0.115 183.06);
  --color-blue-spruce-700: oklch(55% 0.093 182.4);
  --color-blue-spruce-800: oklch(41.29% 0.068 183.63);
  --color-blue-spruce-900: oklch(26.59% 0.042 182.22);
  --color-blue-spruce-950: oklch(21.81% 0.033 184.73);

  --color-shamrock-50: oklch(96.77% 0.012 157);
  --color-shamrock-100: oklch(93.47% 0.026 158.19);
  --color-shamrock-200: oklch(86.97% 0.052 157.43);
  --color-shamrock-300: oklch(80.53% 0.078 156.48);
  --color-shamrock-400: oklch(74.2% 0.103 155.24);
  --color-shamrock-500: oklch(68.07% 0.127 153.59);
  --color-shamrock-600: oklch(57.86% 0.106 153.71);
  --color-shamrock-700: oklch(47.18% 0.084 153.9);
  --color-shamrock-800: oklch(35.85% 0.061 154.24);
  --color-shamrock-900: oklch(23.55% 0.034 155.04);
  --color-shamrock-950: oklch(19.39% 0.025 156.24);

  --color-muted-teal-50: oklch(96.65% 0.01 155.1);
  --color-muted-teal-100: oklch(93.21% 0.021 156.81);
  --color-muted-teal-200: oklch(86.27% 0.039 157.31);
  --color-muted-teal-300: oklch(79.41% 0.06 156.23);
  --color-muted-teal-400: oklch(72.56% 0.082 155.12);
  --color-muted-teal-500: oklch(65.6% 0.1 154.23);
  --color-muted-teal-600: oklch(55.93% 0.085 153.97);
  --color-muted-teal-700: oklch(45.62% 0.067 154.31);
  --color-muted-teal-800: oklch(34.7% 0.047 154.97);
  --color-muted-teal-900: oklch(23.05% 0.028 154.42);
  --color-muted-teal-950: oklch(19.21% 0.02 153.63);

  --color-ash-grey-50: oklch(96.36% 0.003 106.45);
  --color-ash-grey-100: oklch(92.81% 0.007 124.45);
  --color-ash-grey-200: oklch(85.38% 0.011 118.06);
  --color-ash-grey-300: oklch(77.89% 0.019 120.77);
  --color-ash-grey-400: oklch(70.03% 0.023 121.14);
  --color-ash-grey-500: oklch(62.24% 0.031 120.28);
  --color-ash-grey-600: oklch(52.91% 0.025 121.38);
  --color-ash-grey-700: oklch(43.45% 0.021 121.2);
  --color-ash-grey-800: oklch(33.21% 0.014 118.57);
  --color-ash-grey-900: oklch(22.24% 0.01 125);
  --color-ash-grey-950: oklch(18.44% 0.006 122.04);

  --color-cinnamon-wood-50: oklch(96.05% 0.01 41.88);
  --color-cinnamon-wood-100: oklch(91.81% 0.019 38.15);
  --color-cinnamon-wood-200: oklch(83.56% 0.039 38.08);
  --color-cinnamon-wood-300: oklch(75.35% 0.063 38.85);
  --color-cinnamon-wood-400: oklch(67.3% 0.086 39.75);
  --color-cinnamon-wood-500: oklch(59.23% 0.111 39.3);
  --color-cinnamon-wood-600: oklch(50.55% 0.092 39.61);
  --color-cinnamon-wood-700: oklch(41.29% 0.074 38.8);
  --color-cinnamon-wood-800: oklch(31.55% 0.051 38.12);
  --color-cinnamon-wood-900: oklch(21.16% 0.028 38.1);
  --color-cinnamon-wood-950: oklch(17.77% 0.021 40.79);

  --ds-running-bg: var(--color-info);
  --ds-cpu-bg: var(--color-blue-spruce-100);
  --ds-mem-usage-bg: var(--color-shamrock-100);
  --ds-mem-percent-bg: var(--color-muted-teal-100);
  --ds-net-bg: var(--color-ash-grey-100);
  --ds-block-bg: var(--color-cinnamon-wood-100);
}

.dark {
  --ds-running-bg: var(--color-info);
  --ds-cpu-bg: var(--color-blue-spruce-800);
  --ds-mem-usage-bg: var(--color-shamrock-800);
  --ds-mem-percent-bg: var(--color-muted-teal-700);
  --ds-net-bg: var(--color-ash-grey-800);
  --ds-block-bg: var(--color-cinnamon-wood-800);
}

.ds-running {
  background-color: var(--ds-running-bg);
}
.ds-cpu {
  background-color: var(--ds-cpu-bg);
}
.ds-mem-usage {
  background-color: var(--ds-mem-usage-bg);
}
.ds-mem-percent {
  background-color: var(--ds-mem-percent-bg);
}
.ds-net {
  background-color: var(--ds-net-bg);
}
.ds-block {
  background-color: var(--ds-block-bg);
}
