:root {
  --sidebar-header-height: 40px;
  --sidebar-search-box-height: 40px;
}

.sidebar-header {
  height: var(--sidebar-header-height);
}

.sidebar-search-box {
  height: var(--sidebar-search-box-height);
}

.sidebar-item-list {
  height: calc(
    100vh - var(--titlebar-height) - var(--sidebar-search-box-height) - var(--sidebar-header-height)
  );
}

:root {
  --xterm-background: #ffffff;
  --xterm-foreground: #24292f;
}

.dark {
  --xterm-background: #0d1117;
  --xterm-foreground: #c9d1d9;
}
