:root {
  --sidebar-header-height: 40px;
  --sidebar-search-box-height: 40px;
}

.sidebar-header {
  height: var(--sidebar-header-height);
}

.sidebar-search-box {
  height: var(--sidebar-search-box-height);
}

.sidebar-item-list {
  height: calc(
    100vh - var(--titlebar-height) - var(--sidebar-search-box-height) - var(--sidebar-header-height)
  );
}

/* Add internal padding to xterm terminal */
.container-logs-terminal .xterm {
  padding: 8px;
}

.container-logs-terminal .xterm-viewport {
  padding: 8px;
}
